<section class="section-about">
    <div class="container">
        <h2 class="title title-about">Звільнити простір в вашому будинку чи офісі стало легше, ніж ви гадали!</h2>
        <p class="text text- ">Наша послуга "ЗвільниПростір" призначена спеціально для тих, хто хоче позбавитись
            непотрібних речей, але не
            знає, звідки
            почати. Ось як це працює:</p>
        <div>
            <img src="/src/img/about-card-1.jpg" alt="">
            <h3>Зв'яжіться з нами</h3>
            <p>Коли ви вирішили, що настав час звільнити простір, просто зв'яжіться з нами.
                Ви можете зателефонувати або заповнити форму на нашому веб-сайті.
                Наша дружня команда завжди готова вам допомогти.</p>
        </div>
        <div>
            <img src="/src/img/about-card-2.jpg" alt="">
            <h3>Безкоштовна оцінка</h3>
            <p>Наші професіонали приїдуть до вас безпосередньо до дому або офісу.
                Вони оцінять непотрібні речі, визначаючи те, що можна перепродати чи переробити.
                Краще за все - це безкоштовно!</p>
        </div>
        <div>
            <img src="/src/img/about-card-3.jpg" alt="">
            <h3>Завантаження та вивезення</h3>
            <p>Ми завантажимо всі речі, які ви бажаєте позбутись, в наш транспорт.
                Потім ми вивеземо їх для подальшого перепродажу чи переробки.
                Вам не потрібно нічого робити - ми беремо всю роботу на себе.</p>
        </div>
        <p>Таким чином, ви можете звільнити простір, отримати гроші, та внести свій внесок у підтримку навколишнього
            середовища
            шляхом переробки речей. Наша команда готова рухатися в ногу з вами кожен крок цього процесу.</p>

        <button class="button-hero" type="button">
            Зв’язатись з нами
        </button>
    </div>
</section>