<header class="page-header">
  <div class="header-container container">
    <!-- Logotype -->
    <a class="logo-link" href="./index.html">
      <img src="./img/logo.png" alt="Logotype" width="80" height="68">
      <div class="container-text-logo">
        <div class="container-logo-title">
          <span class="logo-text">Звільни</span>
          <span class="logo-italic-text">простір</span>
        </div>
        <span class="logo-small-text">Звільніть свій простір з легкістю!</span>
      </div>
    </a>
    <!-- Navigation  -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="">
            Як це працює
          </a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">
            Ціни
          </a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">
            Галерея
          </a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">
            Контакти
          </a>
        </li>
      </ul>
    </nav>
    <!-- Contacts -->
    <ul class="header-contact-list">
      <li class="header-contact-item">
        <a class="header-contact-link" href="">
          <svg class="contact-map-icon" width="32" height="32" aria-label="contact map icon">
            <use href="./img/map.svg#map"></use>
          </svg>
          м.Вінниця <br> Пн-Сб: 8:00-20:00
        </a>
      </li>
      <li class="header-contact-item">
        <a class="header-contact-link" href="tel:+380670000000">
          <svg class="contact-phone-icon" width="32" height="32" aria-label="contact phone icon">
            <use xlink:href="./img/phone.svg#phone"></use>
          </svg>
          +38(067)-000-00-00
        </a>
      </li>
    </ul>
  </div>
</header>