<section class="hero">
    <div class="container hero-content-box">
        <div class="left-box-hero">
            <div class="container-text-hero">
                <h1 class="title-hero">Хочете позбавитись непотрібних речей?</h1>
                <p class="text-hero">Ми Вам з цим допоможемо! <br>
                    Самі приїдемо, загрузимо, вивеземо да ще й заплатимо за це Вам кошти.</p>
            </div>
            <button class="button-hero" type="button">
                Зв’язатись з нами
            </button>
        </div>


        <div class="right-box-hero">
            <img class="img-hero" src="/img/02-hero-img.jpg" alt="" width="500">
            <div class="container-img-hero">
                <button class="arrow-btn" type="button">
                    &lt;
                </button>
                <ul class="img-hero-list">
                    <li class="img-hero-item">
                        <img class="img-hero" src="/img/01-hero-img.jpg" alt="" width="240" height="160">
                    </li>
                    <li class="img-hero-item">
                        <img class="img-hero" src="/img/02-hero-img.jpg" alt="" width="240" height="160">
                    </li>
                    <li class="img-hero-item">
                        <img class="img-hero" src="/img/03-hero-img.jpg" alt="" width="240" height="160">
                    </li>
                </ul>
                <button class="arrow-btn" type="button">
                    &gt;
                </button>
            </div>
        </div>


    </div>


</section>